*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
    color: white;
}

.layout{
    background-color: rgb(51, 51, 51);
    height: max-content;
    display: grid;
    grid-template-rows: 75px 7fr;
    grid-template-columns: 250px 6fr;
    gap: 1px;
    position: relative;
}

.sidebar{
    background-color: rgb(0, 0, 0);
    grid-row: 1/3;
    position: sticky;
    top: 0%;
    height: 100vh;
     overflow-y: scroll;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 5px;

}

.sidebar::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 10px;
    border-radius: 5%;
}

.menu{
  text-decoration: none; 
  color: white; 
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #232323; 
  margin-top: 10px;
  border-radius: 8px; 

}

.menu:hover{
    background-color: rgba(107, 16, 139, 0.618);
    transform: scale(1.02);
}

.player{
    background-color: rgb(29, 25, 36);
    margin: 10px 5px 5px 5px;
    height: 400px;
    width: 95%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
    padding: 10px;  
}

.miniplay{
background-color: rgba(255, 255, 255, 0.418);
height: 35px;
width: 35px;
border-radius: 50%;
border:black 3px;

}

.tools{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.lyricard{
    max-height: max-content;
    padding: 10px;
    background-color: #19191996;
    border-radius: 5%;
    margin: 5px;
}


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top:0px;
}

.window{
    background-color: rgb(0, 0, 0);
    grid-row: 2/3;
    padding-left: 2%;
}

.logo{
  width: 50px; 
  height: 50px;
  
  margin-left: 10px;
  border-radius: 30% ;
  border: solid rgba(11, 11, 11, 0.801) 3px  
}

.sec{
  text-decoration: none; 
  color: white; 
  background-color: rgb(29, 28, 28); 
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 150px;
  margin-top: 10px;
  border-radius: 8px; 
}
.sec:hover{
    background-color: rgba(107, 16, 139, 0.618);
    transform: scale(1.02);
}

h2{
    margin-left: 5%;
    margin-top:3%;
    margin-bottom: 2%;
}

.cover{
    border-radius: 5%; margin-left: 5%;margin-top: 5px; height: 180px; width: 180px;
}
.artistname{
   color: rgb(137, 133, 133);
   margin-left: 10px;
}

.section{
    display: flex;
    margin-left: 5%;
    border-radius: 5%;
    flex-direction: row;
    gap: 25px;
   
}
.list{
    display: flex;
    flex-direction: column;
}

.clips{
    background-color: rgb(41, 40, 40);
    height: 210px;
    width: 410px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
  border-radius: 3%;
  height: 200px;
  width: 400px;

}

.homeartists{

border-radius: 50%;
height: 150px; width: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center ;
}
.homeartists:hover{
    transform: scale(1.05);
   
}
.playlists{
     border-radius: 5%;
     margin-left: 3%;
      height: 180px;
     width: 180px; 
      background-color: #353333;
}

.trackbox{
    display: flex;
    position: relative;
     flex-direction: column; 
     justify-content: end;
     align-items: center;  
}

.trackbox:hover{
    
    transform: scale(1.05);
}

.trackbox:hover .play{
transform: translate(25px,-25px);
display: flex;
}

.play{
position: absolute;
background-color: rgba(255, 255, 255, 0.418);
height: 45px;
border-radius: 50%;

display: none;
}

.newrow{
    display: flex;
    justify-content:space-evenly;
}

audio{
    
  border-radius: 20px;
  
color: aqua;
}

.play-button{
position: absolute;
background-color: rgba(255, 255, 255, 0.418);
height: 45px;
border-radius: 50%;
bottom: 20px;
left: 5px;

}

#end{
    margin-top: 30px;
    background-color: black;
    height: 60px;
}

.details {
    width: 300px;   
    height: 40px;   
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 10px;
    border-radius: 12px;
    gap: 10px;
    margin: 10px;
    position: relative;
  
}

.details:hover {
    transform: scale(1.05);
    background: #111;
}


.detailscover {
    position: relative;
    width: 40px;
    height: 40px;
    
}

.detailscover img:first-child {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.detailsplay {
    position: absolute;
    top: 20%;
    left: 20%;
   
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: opacity 0.2s;
}

.details:hover .detailsplay {
    opacity: 1;
}


.detailsinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.detailstitle {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detailsartist {
    margin: 2px 0 0;
    font-size: 12px;
    color: #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detailslike {
    background: transparent;
    border: none;
    font-size: 18px;
    color: #aaa;
    cursor: pointer;
    flex-shrink: 0;
    transition: color 0.2s;
}

.detailslike.liked {
    color: #ff1493;
}